@page "/class"

@using Ugf.DataManager.ClassManagement
@using Secyud.Ugf.DataManager
@inherits AbpCrudPageBase<IClassContainerAppService, ClassContainerDto, Guid, GetClassListInput>
@inject AbpBlazorMessageLocalizerHelper<DataManagerResource> Lh

<Card>
    <CardHeader>
        @* ************************* PAGE HEADER ************************* *@
        <PageHeader Title="@L["Classes"]"
                    BreadcrumbItems="@BreadcrumbItems"
                    Toolbar="@Toolbar">
        </PageHeader>
    </CardHeader>
    <CardBody>
        <Fields>
            <Field ColumnSize="ColumnSize.Is5.OnDesktop">
                <TextEdit @bind-Text="@GetListInput.Name" Placeholder="@L["Name"]"/>
            </Field>
            <Field ColumnSize="ColumnSize.Is7.OnDesktop">
                <Addons>
                    <Addon AddonType="AddonType.Body">
                        <Autocomplete TItem="KeyValuePair<Type, Guid>" TValue="Guid" Data="TypeIdMapper.Types()"
                                      TextField="(u => u.Key.Name)" ValueField="(u => u.Value)"
                                      @bind-SelectedValue="@GetListInput.ClassId" Placeholder="@L["BaseClass"]"/>
                    </Addon>
                    <Addon AddonType="AddonType.End">
                        <Button Clicked="GetEntitiesAsync" Color="Color.Secondary">@L["Search"]</Button>
                    </Addon>
                </Addons>
            </Field>
        </Fields>
        @* ************************* DATA GRID ************************* *@
        <AbpExtensibleDataGrid TItem="ClassContainerDto"
                               Data="@Entities"
                               ReadData="@OnDataGridReadAsync"
                               TotalItems="@TotalCount"
                               ShowPager="true"
                               PageSize="@PageSize"
                               CurrentPage="@CurrentPage"
                               Columns="@ClassManagementTableColumns">
        </AbpExtensibleDataGrid>
    </CardBody>
</Card>

<Modal @ref="EditModal" Closing="@ClosingEditModal">
    <ModalContent Size="ModalSize.Large" Centered="true">
        <Form>
            <ModalHeader>
                <ModalTitle>@L["Edit"]</ModalTitle>
                <CloseButton Clicked="CloseEditModalAsync"/>
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@EditValidationsRef" Model="@EditingEntity" ValidateOnLoad="false">
                    <Field ColumnSize="ColumnSize.Is8">
                        <FieldLabel>@L["Name"]</FieldLabel>
                        <TextEdit @bind-Text="EditingEntity.Name" ReadOnly/>
                    </Field>
                    <Field ColumnSize="ColumnSize.Is4">
                        <Button Clicked="RefreshClassProperty">@L["RefreshProperty"]</Button>
                    </Field>
                    <Field ColumnSize="ColumnSize.Is12">
                        <FieldLabel>@L["Description"] </FieldLabel>
                        <MemoEdit @bind-Text="@EditingEntity.Description"/>
                    </Field>
                    <DataGrid TItem="ClassPropertyDto" PageSize="4" ShowPager
                              Data="EditingEntity.Properties">
                        <DataGridColumns>
                            <DataGridColumn TItem="ClassPropertyDto" Caption="@L["Name"]" Sortable
                                            Field="@nameof(ClassPropertyDto.PropertyName)"/>

                            <DataGridColumn TItem="ClassPropertyDto" Caption="@L["PropertyId"]" Sortable
                                            Field="@nameof(ClassPropertyDto.PropertyId)"/>

                            <DataGridColumn TItem="ClassPropertyDto" Field="@nameof(ClassPropertyDto.Description)"
                                            Caption="@L["Description"]" Sortable="false">
                                <DisplayTemplate>
                                    <MemoEdit @bind-Text="@context.Description"/>
                                </DisplayTemplate>
                            </DataGridColumn>
                        </DataGridColumns>
                    </DataGrid>
                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary" Clicked="CloseEditModalAsync">@L["Cancel"]</Button>
                <SubmitButton Clicked="@UpdateEntityAsync"/>
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>