@using Ugf.DataManager.ClassManagement
@using Secyud.Ugf.DataManager
@inherits DataManagerComponentBase

<Modal @ref="Modal" Closing="@CloseModal">
    <ModalContent Centered="true" Size="ModalSize.Large">
        <Form>
            <ModalHeader>
                <ModalTitle>@L["SelectClass"]</ModalTitle>
                <CloseButton Clicked="CloseModalAsync"/>
            </ModalHeader>
            <ModalBody>
                <Fields>
                    <Field>
                        <FieldLabel>@L["BundleId"]</FieldLabel>
                        <NumericEdit TValue="int?" @bind-Value="BundleId"/>
                    </Field>
                    <Field>
                        <FieldLabel>
                            @L["BaseClass"]
                        </FieldLabel>
                        <Autocomplete TItem="KeyValuePair<Type, Guid>" TValue="Guid" Data="TypeIdMapper.Types()"
                                      TextField="(u => u.Key.Name)" ValueField="(u => u.Value)"
                                      @bind-SelectedValue="@ClassId"/>


                    </Field>
                </Fields>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary" Clicked="CloseModalAsync">@L["Cancel"]</Button>
                <SubmitButton Clicked="@GenerateConfigAsync"/>
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>